body {
    background: #001428 !important;
}

.bg-container {
    color: #fff !important;
    background: #001428 !important;
}

.bg-layout {
    background: #001428 !important;
}

.n-breadcrumb-item__link {
    color: #fff !important;
}

.n-button--default-type .n-button__content,
.n-button--default-type .n-button__icon {
    color: #fff !important;
}

.n-form-item-label__text {
    color: #fff !important;
}

.n-base-selection-tags {
    background: #001428 !important;
}

.n-base-selection-label {
    background: #001428 !important;
}

.n-base-selection__border {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.n-base-selection-overlay__wrapper {
    /* color: #fff !important; */
}

.n-select-menu {
    background: #001428 !important;
    box-shadow: 0 0 8px 4px rgba(20, 82, 197, 0.2);
}

.n-base-select-option__content {
    color: #fff !important;
}

.n-base-select-option::before {
    background: #001428 !important;
}

.n-base-select-option__check {
    color: #fff !important;
}

.n-card {
    background: #001428 !important;
}

.n-card-header__main {
    color: #fff !important;
}

.n-data-table-th {
    color: #fff !important;
    background: #001428 !important;
}

.n-checkbox-box {
    background: transparent !important;
}

.n-checkbox.n-checkbox--checked .n-checkbox-box {
    background-color: var(--n-color-checked) !important;
}

.n-checkbox-icon .check-icon {
    fill: #fff !important;
}

.n-checkbox-box__border {
    border-color: #fff !important;
}

.n-data-table-td {
    color: #fff !important;
    background: #001428 !important;
}

.n-input {
    background: transparent !important;
    /* background: #001428 !important; */
}

.n-input__input-el {
    color: #fff !important;
}

.n-input__border {
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
}
.n-table,.n-table td{
  background: transparent !important;
}
.n-pagination-item {
    color: #fff !important;
    background: transparent !important;
}
.n-table {
  --n-merged-border-color: rgba(255, 255, 255, 0.4) !important;
}

.n-pagination-prefix {
    color: #fff !important;
}

.n-base-selection-input__content {
    color: #fff !important;
}

.n-drawer {
    color: #fff !important;
    background: #001428 !important;
}

.n-drawer-header {
    color: #fff !important;
}

.n-drawer .n-base-icon {
    color: #fff !important;
}

.n-drawer .text-base_text {
    color: #fff !important;
}

.n-divider__title {
    color: #fff !important;
}

.n-alert {
    color: #fff !important;
    background: transparent !important;
    box-sizing: border-box !important;
    border-radius: 10px !important;
    border: 1.5px solid rgb(20, 82, 197) !important;
    /* background: #160042!important; */
    /* border: 1px solid #001428!important; */
}
.n-base-select-menu .n-scrollbar ,.n-cascader-menu {
  border: 1px solid rgb(20, 82, 197) !important;

}
.n-date-panel {
  border: 1px solid rgb(20, 82, 197) !important;
  overflow: auto !important;
  
}
.n-alert-body__title {
    color: #fff !important;
}

.n-alert-body__content {
    color: #fff !important;
}
.n-date-panel-header,.n-cascader-menu .n-scrollbar{
  background: #001428 !important;
  box-shadow: 0 0 8px 4px rgba(20, 82, 197, 0.2);
}
.n-popover {
    color: #fff !important;
    background: #001428 !important;
    box-shadow: 0 0 8px 4px rgba(20, 82, 197, 0.2);
}

.n-checkbox__label {
    color: #fff !important;
}

aside {
    box-sizing: border-box !important;
    box-shadow: 2px 0px 2px rgba(20, 82, 197, 0.2);
}

.n-dropdown {
    background: #001428 !important;
    /* border: 2px solid rgba(20, 82, 197, 0.2); */
    box-shadow: 0 0 8px 4px rgba(20, 82, 197, 0.2);
}

.n-dropdown-option-body {
    color: #fff !important;
}

.n-dropdown-option-body__prefix {
    color: #fff !important;
}

.n-dropdown-option-body::before {
    background: #001428 !important;
}

.n-dialog {
    color: #fff !important;
    background: #001428 !important;
}

.n-dialog .n-dialog__title {
    color: #fff !important;
}

.n-dialog__close {
    color: #fff !important;
}

.n-descriptions-table-content {
    color: #fff !important;
}

.n-descriptions-table-content__content {
    color: #fff !important;
}

.n-card-header__close {
    color: #fff !important;
}

.n-progress-icon--as-text {
    color: #fff !important;
}

.n-card--bordered {
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.n-data-table {
    --n-border-color: rgba(255, 255, 255, 0.3) !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
}

.n-scrollbar {
    --n-scrollbar-color: rgba(255, 255, 255, 0.3) !important;
    --n-scrollbar-color-hover: rgba(255, 255, 255, 0.3) !important;
}

.n-input__textarea textarea {
    color: #fff !important;
}

.n-base-selection-input {
    color: #fff !important;
}

.n-upload-file-info__name {
    color: #fff !important;
}

.n-upload {
    --n-item-color-hover: transparent !important;
}

.n-radio__label {
    color: #fff !important;
}

.n-radio__dot-wrapper {
    background-color: transparent !important;
}

.n-tabs {
    background: #001428 !important;
}

.n-tabs-tab {
    color: #fff !important;
}

.n-tabs-tab--active {
    color: #1890ff !important;
}

.n-descriptions-table {
    background: #001428 !important;
}

.n-descriptions-table-header {
    color: #fff !important;
    background: #001428 !important;
}

.n-step-content-header__title {
    color: #fff !important;
}

.n-step--finish-status .n-step-content-header__title {
    color: #1890ff !important;
}

.bg-layout::-webkit-scrollbar {
    width: 8px !important; /* 滚动条的宽度 */
    height: 8px !important; /* 滚动条的高度 */
}

.bg-layout::-webkit-scrollbar-track {
    background: #001428 !important; /* 滚动条轨道的颜色 */
    border-radius: 10px !important; /* 轨道圆角 */
}

.bg-layout::-webkit-scrollbar-thumb {
    background-color: #1890ff !important; /* 滚动条的颜色 */
    border-radius: 10px !important; /* 滚动条圆角 */
}

.bg-layout::-webkit-scrollbar-thumb:hover {
    background-color: #1890ff !important; /* 滚动条在鼠标悬停时的颜色 */
}

#__SCROLL_EL_ID__::-webkit-scrollbar {
    width: 8px !important; /* 滚动条的宽度 */
    height: 8px !important; /* 滚动条的高度 */
}

#__SCROLL_EL_ID__::-webkit-scrollbar-track {
    background: #001428 !important; /* 滚动条轨道的颜色 */
    border-radius: 10px !important; /* 轨道圆角 */
}

#__SCROLL_EL_ID__::-webkit-scrollbar-thumb {
    background-color: #1890ff !important; /* 滚动条的颜色 */
    border-radius: 10px !important; /* 滚动条圆角 */
}

#__SCROLL_EL_ID__::-webkit-scrollbar-thumb:hover {
    background-color: #1890ff !important; /* 滚动条在鼠标悬停时的颜色 */
}

.simplebar-vertical {
    width: 10px !important;
}

.simplebar-scrollbar::before {
    background-color: #1890ff !important;
}

.n-date-panel-calendar {
    background: #001428 !important;
}

.n-date-panel-actions {
    background: #001428 !important;
}

/* .n-base-icon {
    color: #fff !important;
} */

.n-time-picker-panel {
    background: #001428 !important;
}

.text-icon {
    color: #fff !important;
}

.n-button__content {
    color: #fff !important;
}

/* .n-message {
    background: #001428 !important;
    box-shadow: 0 0 8px 8px rgba(20, 82, 197, 0.2);
} */

.n-checkbox-icon {
    --n-color: #fff !important;
    --n-color-checked: #001428 !important;
}

/* 强制覆盖 autofill 背景和光标颜色 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #fff;
    -webkit-transition-delay: 99999s;
    -webkit-transition:
        background-color 99999s ease-out,
        color 99999s ease-out !important;
}

/* :root input:-internal-autofill-selected {
    -webkit-text-fill-color: #fff !important;
} */
