@font-face {
  font-family: "iconfont"; /* Project id 4715715 */
  src: url('iconfont.woff2?t=1729229395356') format('woff2'),
       url('iconfont.woff?t=1729229395356') format('woff'),
       url('iconfont.ttf?t=1729229395356') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-python:before {
  content: "\e70f";
}

